<section>
    <div class="container">
        <div class="row">
            <div class="col-md-2 sidebar col-xs-2" ng-controller="channelsCtrl">
                <h3 class="heading"><a href="/">Channels</a></h3>
                <div channels-list="items">

                </div>
            </div>
            <div class="col-md-10 content col-xs-10" ng-controller="searchController">
                <h2 class="header">Search Videos</h2>
                <video-list list={{video.list[0]}}></video-list>
                <ul class="pager">
                    <li class="next">
                        <a class="next" ng-click="nextSearch()">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
